body {
  background-image: url("../images/bgd-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; }

#moviesContainer .peliculas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2%;
  text-align: center; }
  #moviesContainer .peliculas .card-img-top {
    height: 420px; }
  #moviesContainer .peliculas__pelicula .card-body {
    display: flex;
    flex-direction: column;
    text-align: center; }
    #moviesContainer .peliculas__pelicula .card-body .card-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: auto; }

#moviesContainer .ajax-error-message {
  text-align: center;
  color: #000;
  font-size: 6rem;
  background-color: #08f7fe;
  width: 50%;
  margin: 0 auto; }

.container-fluid .social-media {
  display: flex;
  flex-direction: row; }

.container-fluid .fab {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.8rem; }

.container-fluid .linkedin {
  margin-right: 1rem;
  color: #fff; }

.container-fluid .github {
  margin-left: 1rem;
  color: #fff; }

#carritoList {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #carritoList .card .row .cart-image {
    width: 150px;
    height: auto; }

#verCarritoBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 2%; }

#header {
  display: flex;
  flex-direction: row;
  text-align: center; }
  #header #logo {
    width: 500px;
    height: 500px; }

#filterButtonsContainer {
  margin-bottom: 2%; }

.nav-item {
  margin: 1%; }

#cart-total-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media only screen and (max-width: 768px) {
  #moviesContainer {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #moviesContainer .peliculas {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
