body {
  background-image: url("../../images/backgroung.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#moviesContainer {
  .peliculas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
    text-align: center;
    .card-img-top {
      height: 420px;
    }
    &__pelicula {
      .card-body {
        display: flex;
        flex-direction: column;
        text-align: center;
        .card-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: auto;
        }
      }
    }
  }
}

.container-fluid {
    .social-media {
      display: flex;
      flex-direction: row;
    }
    .fab {
      margin-top: 2rem;
      margin-left: 2rem;
      font-size: 1.8rem;
    }
    .linkedin {
      margin-right: 1rem;
      color: #fff;
    }
    .github {
      margin-left: 1rem;
      color: #fff;
    }
  }

#carritoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card {
    .row {
      .cart-image {
        width: 150px;
        height: auto;
      }
    }
  }
}

#verCarritoBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 2%;
}

#header {
  display: flex;
  flex-direction: row;
  text-align: center;
  #logo {
    width: 500px;
    height: 500px;
  }
}

#filterButtonsContainer {
  margin-bottom: 2%;
}

.nav {
  &-item {
    margin: 1%;
  }
}

#cart-total-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  #moviesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .peliculas {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
