.peliculas {
  display: flex;
  flex-direction: column;

  &__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

#verCarritoBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 2%;
}
